div.profile {
  margin: 16px;
  padding: 8px;
  width: 100%;
  height: 100%;
  outline: 1px black;
  float: left;
}


div.profile > img {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 40px;
}
div.profile > span {
  font-size: 10sp;
}


div.App > div{
  width: 45px;
  height: 45px;
  float: left;
}