div.profile {
  margin: 16px;
  padding: 8px;
  outline: 1px black;
}


div.profile > img {
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 40px;
}
div.profile > span {
  font-size: 10dp;
}


div.App{
  margin: 16dp;
  float: left;
}